{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>
    SCORIV
    {% block tittle %}
    {% endblock %}
  </title>       
  <!--    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">-->
  <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}"/>
  <link rel="stylesheet" href="{% static 'stylesheets/slick.css' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
</head>

<body>  

  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"> <i class="fa fa-university"> &nbsp;</i>SCORIV</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="right">
          {% if user.is_authenticated%}
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% else %}
            <li><a href="{% url 'user' %}">Registrarse</a></li>
            <li class="active"><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>
  </div>
  {% block content %}

  

  



  {% endblock %}

  <footer> 
  </footer>


  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
  <script src="{% static '/bower_components/foundation/js/foundation/foundation.topbar.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>