{% extends "base.html" %}

{% block content %}
<div class="login panel">
	<div class="row">
		<div class="small-11 medium-6 small-centered columns">
			<form role="form" method="post" action="{% url 'createUser' %}" data-abide>
				{% csrf_token %}
				<div class="row">
					<h2 class="text-center">Registro de usuario</h2>
					<div class="small-12 columns">
						<label>Nombre de usuario:</label>
						<input id="id_username" maxlength="254" name="username" type="text" placeholder="Nombre de usuario" required>
						<small class="error">Ingrese un usuario valido</small>
					</div>

					<div class="small-12 columns">
						<label>Contraseña:</label>
						<input id="id_password" name="password" type="password" placeholder="contraseña" required>
						<small class="error">Ingrese su Contraseña</small>
					</div>

					<div class="small-12 columns">
						<label>Correo Electronico:</label>
						<input id="id_email" name="email" type="email" required placeholder="correo@ejemplo.com">
						<small class="error">Ingrese un Correo electronico correcto</small>
					</div>

					<div class="small-12 columns">
						<div class="text-center">
							<button type="submit" class="button">Crear cuenta</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

