{%extends "base.html"%}

{% block title %}Home{% endblock %}

{%block content%}

<!-- <div class="row">
  <div class="small-12">
    <h3>Escoje un avatar</h3>
    <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-6">
      {% for i in range %}
        <li>
          <a class="th" href="">
            <img src="/static/images/avatar{{i}}.png">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="small-12">
    <h3>Hola {{ user }} escoje un avatar</h3>
    <div class="multiple-avatar">
      {% for i in range %}
        <div>
          <a class="th" href="">
            <img src="/static/images/avatar{{i}}.png">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <h3>Tu progreso</h3>
    <div class="progress">
      <span class="meter" style="width: 1%;"</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12">
    <h3>Tus Recompenzas</h3>
    <i class="fa fa-star fa-3x"></i>
  </div>
</div>

{%endblock%}