{%extends "base.html"%}

{% block title %}Home{% endblock %}

{%block content%}

<div class="home-header-rotator">
  <div class="rotator">

    <div class="slide-1">
      <div class="v-align-container">
        <div class="v-align-content">
          <div class="row">
            <div class="small-12 medium-9 small-centered columns text-center">
             <img src="/static/images/Student-3.png" alt="">
             <h1>ORIENTACION VOCACIONAL</h1>
             <h4>"Allí donde se cruzan tus talentos y las necesidades del mundo, está tu vocación".<br> Aristóteles.</h4>
           </div>
         </div>
       </div>
     </div>
    </div>

  </div>
</div>

<div class="row steps">
    <div class="small-12 medium-4 columns box-1">
        <div class="row">
            <div class="small-12 columns text-center">
                <img src="/static/images/Checklist.png" alt="">
            </div>
        </div>
        <h3 class="text-center">1. Realiza las pruebas</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="small-12 medium-4 columns box-2">
        <div class="row">
            <div class="small-12 columns text-center">
                <img src="/static/images/Clipboard-Plan.png" alt="">
            </div>
        </div>
        <h3 class="text-center">2. Proceseso de Información</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="small-12 medium-4 columns box-3">
        <div class="row">
            <div class="small-12 columns text-center">
                <img src="/static/images/medal.png" alt="medalla">
            </div>
        </div>
        <h3 class="text-center">3. Resultados </h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
</div>

{%endblock%}