{%extends "base.html"%}

{% block title %}Login{% endblock %}

{%block content%}
<div class="login panel">
  <div class="row">
    <div class="small-11 medium-6 small-centered columns">
      <form  action="" method="POST" class="form-login" role="form" data-abide>
        {% csrf_token %}
        <h2 class="text-center">Iniciar Sesión</h2>
        <div class="row">
          <div class="small-12 columns">
            <label>Nombre de usuario</label>
            <input name="username" type="text" placeholder="Usuario" required>
            <small class="error">Ingrese un usuario valido</small>
          </div>

          <div class="small-12 columns">
            <label>Contraseña</label>
            <input name="password" type="password" placeholder="Contraseña" required>
            <small class="error">Ceontraseña incorrecta</small>
          </div>

          <div class="small-12 columns">
           <input type="checkbox" value="remember-me"> Recordarme
         </div>

         <div class="small-12 columns">
          <div class="text-center">
            <button type="submit" class="button">Iniciar Sesión</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{%endblock%}