
@media #{$small-up} {
    body {

    	.top-bar {
    		a {
           	    font-family: 'Oswald', sans-serif;
    		}
    		.fa {
    			color: #FA5655;
    		}
    		.top-bar-section ul {
    			li {
    				a {
           	    		font-family: 'Lato', sans-serif;
    				}
    			}
    		}
    	}

        .steps {
           margin: 35px auto;
           	h3 {
           	    font-family: 'Oswald', sans-serif;
            	font-weight: 700;
            	font-size: 21px;
            	margin: 10px 0px;
           	}
       	    p {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
            }
            .box-1 {
            	border-bottom: 2px solid #fff;
            	&:hover {
            		border-bottom: 2px solid #42E14A;
            	}
            }
            .box-2 {
            	border-bottom: 2px solid #fff;
            	&:hover {
            		border-bottom: 2px solid #E04F5F;
            	}
            }
            .box-3 {
            	border-bottom: 2px solid #fff;
            	&:hover {
            		border-bottom: 2px solid #25B7D3;
            	}
            }
        }

        .progress {
            border: 1px solid #008CBA;
        }

        .multiple-avatar {
            height: 210px;
            .slick-slide {
                padding: 20px 0px;
            }
        }

    }
}

@media #{$medium-up} {
	body {

	}
}

@media #{$large-up} {
	body {

	}
}
