@import "settings";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar";
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


@import "components/rotator";
@import "fonts";
@import "home";


@media #{$small-up} {
    body {

        h1, h2, h3, h4, h5 {
            font-family: 'Oswald', sans-serif;
            color: #000;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
        }

        .fa-star {
            color: #EFEF4B;
        }

    	.login {
    		padding-top: 120px !important;
    		padding-bottom: 120px !important;
    		background: transparent url("/static/images/school.png") repeat;
    		h2 {
    			font-family: 'Oswald', sans-serif;
    		}
    		label {
    			font-family: 'Lato', sans-serif;
    		}
    	}

    	small.error {
    		background: #FA5655 !important;
    	}

    }
}

@media #{$medium-up} {
    body {

    }
}

@media #{$large-up} {
    body {

    }
}
