
@media #{$small-up} {
    body {

        .slick-slider {            
            h1, h2, h3, h4, h5 {
                font-family: 'Oswald', sans-serif;
                color: #fff;
            }
            h1 {
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 700;
            }
            h4  {
                font-style: italic;
                font-size: 0.875rem;
                span {
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
            h1 {
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                font-size: 21px;
                margin: 10px 0px;
            }
            h4 {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
            }
            .slick-prev, .slick-next {
                background-color:  #000;
                background-repeat: no-repeat;
                background-position: center center;
                color: transparent;
                padding: 1.5rem 0.25rem;
                position: absolute;
                top: calc(50% - 61px);
                z-index: 1;
                width: 45px;
                margin: 0;
                i {
                    font-size: 3rem;
                    opacity: 0.7;
                }
                &:hover {
                   opacity: 0.5;
                    i {
                        opacity: 1;
                    }
                }
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .fa {
                color: yellow;
            }
            .fa-trophy {
                margin-top: 110px;
                color: #fff;
            }
            img {
                display: initial;
            }

        }

        .home-header-rotator {   
            background: transparent url("/static/images/bg_home.png") no-repeat;
            background-size: cover;
            .slick-track, .v-align-container, .v-align-content {
                height: 300px;
            }
            // .slide-1 {
            //     background: url("/static/images/ar.jpeg") no-repeat center center;
            // }
            // .slide-2 {
            //     background: url("/static/images/ari.jpg") no-repeat center center;
            //     background-size: cover;
            // }
            // .slide-3 {
            //     background: url("/static/images/aristoteles.png") no-repeat center center;
            //     background-size: cover;
            // }
            // .slide-4 {
            //     background: url("/static/images/5.jpg") no-repeat center center;
            //     background-size: cover;
            // }
            // .slide-5 {
            //     background: url("/static/images/6.jpg") no-repeat center center;
            //     background-size: cover;
            // }
        }

        .home-rotator {
            &.rotator {
                .slick-track, .v-align-container, .v-align-content {
                    height: 300px;
                }
            }
        }
    }
}

@media #{$medium-up} {
    body {

        .rotator {
            .slick-track {
                .slick-slide {
                    h1 {
                        font-size: 2.25rem;
                    }
                    h4  {
                        font-size: 1.125rem;
                        span {
                            font-size: 1.1875rem;
                        }
                    }
                }
            }
        }

        .home-header-rotator {
            .slick-track, .v-align-container, .v-align-content {
                height: 450px;
            }
        }

        .home-rotator {
            &.rotator {
                .slick-track, .v-align-container, .v-align-content {
                    height: 450px; 
                }
            }
        }

    }
}

@media #{$large-up} {
    body {
        .home-rotator {
            &.rotator {
                .slick-track, .v-align-container, .v-align-content {
                    height: 500px;
                }
            }
        }
    }
}
